@model IEnumerable<CarRental.Web.Models.Automobiles>
@{
    //ViewData["Title"] = "Список автомобилей";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Countries list</title>
</head>
<body>
    <h3 class="element">Countries</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Manufacturer ID</td>
            <td>Name</td>
            <td>Fuel consumption</td>
            <td>Gear box</td>
        </tr>
        @foreach (var automobile in Model)
        {
            <tr>
                <td>@automobile.Id</td>
                <td>@automobile.ManufacturerId</td>
                <td>@automobile.Name</td>
                <td>@automobile.FuelConsumption</td>
                <td>@automobile.GearboxId</td>
                <td><input type="button" formmethod="post" value="Remove"/></td>
            </tr>
        }
    </table>
    <input type="button"/>
</body>
</html>